body {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 30px;
  width: 400px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
textarea,
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  margin-top: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #3e8e41;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="file"] {
  margin-top: 5px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #4caf50;
}
